@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
  color: #000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.container {
  width: 1190px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__inner {
  position: relative;
  color: #000;
  background-image: linear-gradient(#fff 27px, #ffe17f 27px);
  padding: 10px 60px 23px;
}

.header__logo {
  margin-bottom: 30px;
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
}
.header__top {
  display: flex;
  margin-bottom: 30px;
}
.form-searcn {
  width: 520px;
  display: flex;
  margin-right: auto;
}
.form-search__input {
  width: 359px;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000;
  border-right: 0;
  padding: 10px;
  padding-left: 40px;
  background-color: #ffe17f;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.form-search__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

button {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.form-searcn__button {
  width: 160px;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000;
  background-color: #ffe17f;
  padding: 10px;
}

.user-menu {
  position: relative;
  display: flex;
  gap: 36px;
}

.user-menu__login {
  width: 230px;
  display: flex;
  align-items: center;
}

.user-menu__button {
  position: relative;
  padding-left: 27px;
}

.user-menu__button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.user-menu__button--login {
  display: block;
  width: 100px;
  color: inherit;
  text-decoration: none;
}

.user-menu__button--login::before {
  width: 15px;
  height: 12px;
  background-image: url("../image/icons/login.svg");
}

.user-menu__button--compare::before {
  width: 10px;
  height: 12px;
  background-image: url("../image/icons/compare.svg");
}

.user-menu__button--cart::before {
  width: 16px;
  height: 14px;
  background-image: url("../image/icons/cart.svg");
}

.user-menu__counter {
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  left: -18px;
}

.cart {
  position: absolute;
  top: 40px;
  right: -60px;
  width: 320px;
  min-height: 300px;
  background-color: #000;
  color: #fff;
}

.cart__product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
}
.cart__product-image {
  display: block;
  width: 39px;
  height: 43px;
  margin-right: 23px;
}
.cart__product-title {
  max-width: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}
.cart__product-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
  background-image: url("../image/icons/cart-close.svg");
}

.cart__info {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.cart__info p {
  margin: 0;
}

.cart__button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px 20px;
  margin: 0 20px;
}

.menu-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}
.menu-list__item {
  margin-left: 45px;
}

.menu-list__item--catalog {
  margin-right: auto;
  margin-left: 0;
  display: flex;
  align-items: center;
  gap: 7px;
}

.menu-list__button {
  position: relative;
  z-index: 5;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  opacity: 0.3;
}

.menu-list__button::before,
.menu-list__button::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 1px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #000;
}

.menu-list__button::after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.open.menu-list__button::after {
  transform: translate(-50%, -50%) rotate(0deg);
}

.submenu {
  position: absolute;
  z-index: 3;
  top: 200px;
  left: 0;
  margin: 0;
  padding: 10px 60px 10px;
  width: 100%;
  min-width: 180px;
  list-style-type: none;
  background-color: #ffe17f;
  display: grid;
  grid-template-columns: repeat(3, 220px);
  column-gap: 30px;
}

.submenu.submenu--close {
  display: none;
}

.submenu__item {
  margin-bottom: 10px;
}

.submenu__item:last-child {
  grid-column: 1 / 2;
}

.submenu__link {
  color: inherit;
  text-decoration: none;
  line-height: 18px;
}

.menu-list__link {
  display: block;
  color: inherit;
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}
