@font-face {
  font-family: "Raleway";
  src: url("../fonts/raleway/raleway-800.woff2") format(woff2);
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-400.woff2") format(woff2);
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  src: url("../fonts/rubik/rubik-700.woff2") format(woff2);
  font-weight: 700;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: grid;
  min-height: 100vh;
  grid-template-rows: auto 1fr auto;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 1.25;
  background-color: #fff;
  color: #000;
}

button {
  font-family: "Rubik";
  font-size: 16px;
  line-height: 1.25;
  background-color: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
}

.button {
  position: relative;
  z-index: 0;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 10px;
}

.button::before {
  position: absolute;
  z-index: -1;
  content: "";
  top: 16px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #ffe17f;
}

.button:hover {
  background-color: #ffe17f;
}

.button:active,
.button:active::before {
  background-color: #fc3;
}

.button:focus {
  outline: 2px solid #af4fff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.hidden {
  display: none;
}

.container {
  width: 1190px;
  margin: 0 auto;
}

.header__inner {
  position: relative;
  color: #000;
  background-image: linear-gradient(#fff 27px, #ffe17f 27px);
  padding: 10px 60px;
}

.header__logo {
  margin-bottom: 30px;
}

.logo {
  display: block;
  width: 145px;
  height: 36px;
}

.logo:hover {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.header__top {
  display: flex;
  margin-bottom: 30px;
}

.form-search {
  position: relative;
  width: 520px;
  display: flex;
  margin-right: auto;
}

.form-search::before {
  position: absolute;
  content: "";
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  width: 16px;
  height: 16px;
  background-image: url("../image/icons/search.svg");
  background-repeat: no-repeat;
}

.form-search__input {
  width: 359px;
  border-radius: 50px 0px 0px 50px;
  border: 2px solid #000;
  padding: 10px;
  padding-left: 40px;
  background-color: #ffe17f;
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.form-search__input:focus {
  outline: 2px solid #af4fff;
}

.form-search__input::placeholder {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #000;
}

.form-searcn__button {
  width: 160px;
  border-radius: 0px 50px 50px 0px;
  border: 2px solid #000;
  border-left: 0;
  background-color: #ffe17f;
  padding: 10px;
}

.form-searcn__button:hover {
  background-color: #000;
  color: #fff;
}

.form-searcn__button:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}

.user-menu {
  position: relative;
  display: flex;
  gap: 36px;
}

.user-menu__login {
  width: 230px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.user-menu__button {
  position: relative;
  display: block;
  padding-left: 27px;
  color: inherit;
  text-decoration: none;
}

.user-menu__button:hover {
  opacity: 0.6;
}

.user-menu__button:active {
  opacity: 0.3;
}

.user-menu__button::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
}

.user-menu__button--logout {
  opacity: 0.3;
}

.user-menu__button--login::before {
  width: 15px;
  height: 12px;
  background-image: url("../image/icons/login.svg");
}

.user-menu__button--compare::before {
  width: 10px;
  height: 12px;
  background-image: url("../image/icons/compare.svg");
}

.user-menu__button--open-cart::before {
  width: 16px;
  height: 14px;
  background-image: url("../image/icons/cart.svg");
}

.user-menu__counter {
  position: absolute;
  width: 21px;
  height: 21px;
  background-color: #fff;
  border-radius: 50%;
  left: -18px;
}

.cart {
  position: absolute;
  z-index: 6;
  top: 40px;
  right: -60px;
  width: 320px;
  min-height: 300px;
  background-color: #000;
  color: #fff;
}

.cart__product {
  position: relative;
  display: flex;
  align-items: center;
  padding: 20px;
  cursor: pointer;
}

.cart__product:hover {
  opacity: 0.6;
}

.cart__product:active {
  opacity: 0.3;
}

.cart__product:focus {
  outline: 2px solid #af4fff;
}

.cart__product-image {
  display: block;
  width: 39px;
  height: 43px;
  margin-right: 23px;
}

.cart__product-title {
  max-width: 150px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin: 0;
}

.cart__product-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 10px;
  height: 10px;
  background-image: url("../image/icons/cart-close.svg");
}

.cart__info {
  display: flex;
  justify-content: space-between;
  background-color: #1a1a1a;
  padding: 10px 20px;
  margin-bottom: 20px;
}

.cart__info p {
  margin: 0;
}

.cart__button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  background-color: #fff;
  padding: 10px 20px;
  margin: 0 20px;
}

.cart__button:hover {
  background-color: #ffe17f;
}

.cart__button:active {
  background-color: #ffe17f;
  color: rgba(0, 0, 0, 0.3);
}

.cart__button:disabled {
  opacity: 0.3;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu-list__item {
  margin-left: 45px;
}

.menu-list__item--catalog {
  margin-right: auto;
  margin-left: 0;
}

.menu-list__button {
  display: block;
  width: 50px;
  height: 50px;
  border: 2px solid #000;
  border-radius: 50%;
  opacity: 0.3;
  background-image: url("../image/icons/minus.svg");
  background-position: center center;
  background-repeat: no-repeat;
}

.menu-list__button.open {
  background-image: url("../image/icons/plus.svg");
}

.menu-list__button:active,
.menu-list__button::before,
.menu-list__button::after {
  opacity: 1;
}

.open.menu-list__button:active,
.open.menu-list__button::after {
  opacity: 1;
}

.submenu {
  position: absolute;
  z-index: 3;
  top: 205px;
  left: 0;
  margin: 0;
  padding: 10px 60px 10px;
  width: 100%;
  min-width: 180px;
  list-style-type: none;
  background-color: #ffe17f;
  grid-template-columns: repeat(3, 220px);
  column-gap: 30px;
  display: none;
}

.submenu--open {
  display: grid;
}

.submenu__item {
  margin-bottom: 10px;
}

.submenu__item:last-child {
  grid-column: 1 / 2;
}

.submenu__link {
  color: inherit;
  text-decoration: none;
  line-height: 18px;
}

.submenu__link:hover {
  opacity: 0.6;
}

.submenu__link:active {
  opacity: 0.3;
}

.sibmenu__link:focus {
  outline: 2px solid #af4fff;
}

.menu-list__link {
  display: flex;
  gap: 7px;
  align-items: center;
  color: inherit;
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
}

.menu-list__link:hover {
  opacity: 0.6;
}

.menu-list__link:active {
  opacity: 0.3;
}

.menu-list__link:focus {
  outline: 2px solid #af4fff;
}

.menu-list__link--catalog:hover {
  opacity: 1;
}

.menu-list__link--catalog:active {
  opacity: 1;
}

.main-index {
  display: grid;
  gap: 70px;
}

.slider__item.swiper-slide {
  position: relative;
  display: grid;
  grid-template-columns: 560px 1fr;
  gap: 40px;
  background-image: linear-gradient(#ffe17f 140px, #fff 140px);
}

.slider__item::before {
  position: absolute;
  content: "01";
  top: 60px;
  right: 49px;
  color: #fff;
  font-family: Rubik;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
}

.slider__item.hidden {
  display: none;
}

.slider__view {
  position: relative;
}

.slider__image {
  display: block;
  width: 560px;
  height: 560px;
}

.slider__controls {
  position: absolute;
  top: 211px;
  width: 100%;
  padding-left: 30px;
  display: flex;
  justify-content: space-between;
}

.slider__button {
  width: 20px;
  height: 60px;
  background-image: url("../image/icons/arrow-slider.svg");
}

.slider__button:hover {
  opacity: 0.6;
}

.slider__button:active {
  opacity: 0.3;
}

.slider__button:focus {
  outline: 2px solid #af4fff;
}

.slider__button--prev {
  transform: rotate(180deg);
}

.slider__content {
  padding-top: 120px;
  padding-bottom: 38px;
}

.slider__title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 29px;
}

.slider__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  color: #444;
  margin: 0;
  margin-bottom: 51px;
}

.slider__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 49px;
}

.slider__link {
  color: inherit;
  text-decoration: none;
}

.slider__pagination {
  display: flex;
  gap: 20px;
}

.slider__pagination-item {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border: 2px solid #000;
  border-radius: 50%;
}

.slider__pagination-item:hover {
  opacity: 0.6;
}

.slider__pagination-item:active {
  opacity: 0.3;
}

.slider__pagination-item--active {
  background-color: #000;
}

.slider-list {
  display: flex;
  margin: 0;
}

.slider-list__item {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.slider-list__term {
  color: #444;
  line-height: 30px;
  order: 2;
  margin-bottom: 12px;
}

.slider-list__def {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.categoty__list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.category__item {
  width: 160px;
}

.category__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.category__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 160px;
  background-color: #ffe17f;
  margin-bottom: 32px;
}

.category__image--bottom img {
  align-self: flex-end;
}

.category__image img {
  display: block;
}

.category__title {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  letter-spacing: -0.36px;
  margin: 0;
}

.category__link:hover .category__image {
  background-color: #ffc700;
}

.category__link:active {
  opacity: 0.3;
}

.category__link:focus {
  outline: 2px solid #af4fff;
}

.services {
  background-image: linear-gradient(#fff 102px, #f0f0f0 102px);
}

.services__inner {
  display: grid;
  grid-template-columns: 280px 1fr;
}

.services__tabs-list {
  margin: 0;
  padding: 0;
  padding-top: 65px;
  list-style: none;
  border-right: 7px solid #000;
}

.services__tabs-item {
  color: #000;
  margin-bottom: 35px;
}

.services__tabs-item.active {
  color: #ffe17f;
  background-color: #000;
}

.services__tabs-item.active .button {
  color: #ffe17f;
}

.services__tabs-item.active .button::before {
  opacity: 0;
}

.services__tabs-item.active:hover .button {
  background-color: #000;
  color: rgba(255, 225, 127, 0.5);
}

.services__tabs-item.active:active .button {
  background-color: #000;
  color: rgba(255, 225, 127, 0.3);
}

.services__list {
  width: 694px;
  margin: 0 auto;
  padding: 0;
  padding-top: 72px;
  list-style-type: none;
}

.services__item {
  position: relative;
}

.services__item::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
}

.services__item--delivery::before {
  background-image: url("../image/icons/delivery.svg");
  width: 136px;
  height: 164px;
}

.services__item--guarantee::before {
  background-image: url("../image/icons/guarantee.svg");
  width: 171px;
  height: 195px;
}

.services__item--credit::before {
  background-image: url("../image/icons/credit.svg");
  width: 156px;
  height: 188px;
}

.services__title {
  position: relative;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.services__description {
  color: #444;
  max-width: 452px;
  margin: 0;
}

.delivery {
  display: grid;
  grid-template-columns: 125px 1fr;
  cursor: pointer;
}

.delivery__image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 100px;
  background-color: #ffe17f;
}

.delivery__image::before {
  content: "";
  width: 47px;
  height: 31px;
  background-image: url("../image/icons/delivery-img.svg");
}

.delivery__content {
  position: relative;
  text-align: center;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 4px;
  text-transform: uppercase;
  background-color: #f0f0f0;
  margin: 0;
  padding: 40px 0;
}

.delivery__content::before {
  position: absolute;
  content: "";
  right: 42px;
  top: 30px;
  width: 40px;
  height: 40px;
  background-color: rgba(220, 220, 220, 0.5);
  border-radius: 50%;
}

.delivery__content::after {
  position: absolute;
  content: "";
  top: 44px;
  right: 62px;
  width: 2px;
  height: 12px;
  background-image: url("../image/icons/delivery-sign.svg");
  opacity: 0.3;
}

.delivery:hover .delivery__image {
  background-color: #ffc700;
}

.delivery:hover .delivery__content::after {
  opacity: 1;
}

.delivery:active {
  opacity: 0.3;
}

.index-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 108px;
}

.about {
  padding-top: 40px;
}

.about__title {
  margin: 0;
  margin-bottom: 48px;
}

.title {
  position: relative;
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.title::before {
  position: absolute;
  content: "";
  top: -40px;
  width: 84px;
  height: 7px;
  background-color: #000;
}

.about__description {
  color: #444;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
}
.about__list {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  list-style: none;
}

.about__item {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin-bottom: 19px;
  padding-left: 34px;
}

.about__item::before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 8px;
  height: 8px;
  background-color: #ffc700;
  border-radius: 50%;
}

.about__link {
  color: inherit;
  text-decoration: none;
}

.contacts {
  padding-top: 40px;
}
.contacts__title {
  margin: 0;
  margin-bottom: 48px;
}

.contacts__description {
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
  margin-bottom: 30px;
  color: #444;
}

.contacts__heading {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  margin: 0;
  margin-bottom: 15px;
}

.contacts__address {
  font-style: normal;
  color: #444;
}

.contacts__phone {
  display: block;
  color: #444;
  margin-bottom: 30px;
}

.contacts__link {
  color: #000;
  text-decoration: none;
}

.subscribe {
  background-color: #f0f0f0;
  padding-top: 64px;
  padding-bottom: 56px;
}

.subscribe__inner {
  display: grid;
  grid-template-columns: 1fr 560px;
  row-gap: 144px;
}

.subscribe__title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
}

.subscribe__description {
  max-width: 560px;
  color: #444;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

.subscribe__form {
  grid-column: 1 / -1;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 557px;
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444;
  background-color: #f0f0f0;
  border: 0;
  padding: 11px 16px;
  border-bottom: 3px solid #c4c4c4;
}

.subscribe__input:focus {
  background-color: #dcdcdc;
  outline: 0;
}

.subscribe__input--error {
  border-bottom: 3px solid #ff3d3d;
}

.subscribe__input::placeholder {
  font-family: Rubik;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #444;
}

.subscribe__button {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  border: 3px solid #cecece;
  padding: 14px 39px;
}

.subscribe__button:hover {
  background-color: #000;
  color: #fff;
}

.subscribe__button:active {
  background-color: #000;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe__free {
  position: relative;
  color: #444;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin-left: auto;
}

.subscribe__free::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  left: -32px;
  top: 50%;
  transform: translateY(-8px);
  background-image: url("../image/icons/tick-big.svg");
}

.footer {
  background-color: #444;
  color: #fff;
  padding: 62px 0;
}

.footer__logo {
  margin-bottom: 35px;
}

.footer__top {
  display: grid;
  grid-template-columns: 240px 1fr auto;
  column-gap: 112px;
  margin-bottom: 62px;
}

.footer__address {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__nav {
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 35px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer__link {
  color: inherit;
  text-decoration: none;
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  padding: 5px;
}

.footer__link:hover {
  color: #ffc700;
}

.footer__link:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer__phone {
  font-size: 16px;
  color: inherit;
  font-weight: 400;
  line-height: 20px;
  align-self: center;
}

.footer__phone:hover {
  color: #ffc700;
}

.footer__phone:active {
  color: #ffc700;
  opacity: 0.3;
}

.footer__bottom {
  display: grid;
  grid-template-columns: auto 1fr auto;
}

.footer__line {
  width: 80px;
  height: 7px;
  background-color: #ffc700;
}

.social {
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social__link {
  display: block;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.social__link:hover {
  background-color: #ffc700;
}

.social__link:active img {
  opacity: 0.3;
}

.footer__developer {
  width: 115px;
  height: 33px;
}

.footer__developer:hover .footer__icon path {
  fill: #fff;
}

.footer__developer:active .footer__icon path {
  fill: #fff;
  opacity: 0.3;
}

.main-catalog__header {
  padding: 35px 0 35px 60px;
}

.main-catalog__title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 16px;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs__item {
  position: relative;
  margin-right: 16px;
  padding-right: 16px;
}

.breadcrumbs__item::after {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 4px;
  height: 7px;
  background-image: url("../image/icons/arrow.svg");
}

.breadcrumbs__item:nth-child(3)::after {
  opacity: 0;
}

.breadcrumbs__link {
  display: block;
  color: inherit;
  text-decoration: none;
}

.catalog {
  background-color: #f0f0f0;
}

.catalog__inner {
  display: grid;
  grid-template-columns: 320px 1fr;
  column-gap: 40px;
  padding-left: 60px;
}

.catalog__filter {
  width: 320px;
  padding-top: 25px;
}

.filter__title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 60px;
}

.filter__group {
  position: relative;
  width: 200px;
  padding: 0;
  margin: 0;
  margin-bottom: 35px;
  border: 0;
}

.filter__group::before {
  position: absolute;
  content: "";
  top: -50px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.filter__heading {
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
  margin-bottom: 20px;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.filter__item {
  margin-bottom: 17px;
}

.range-wrapper-inputs {
  opacity: 0.3;
}

.range-scale {
  position: relative;
  height: 2px;
  background-color: #dcdcdc;
  margin-bottom: 25px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #000;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:hover {
  opacity: 0.5;
  background-color: #ffffff;
}

.range-toggle:active {
  background-color: #000;
}

.toggle-min {
  top: -9px;
  left: -10px;
}

.toggle-max {
  top: -9px;
  right: -10px;
}

.range-input {
  width: 30px;
  padding: 0 2px;
  font: inherit;
  font-size: 15px;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__text {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.control__text::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #cccccc;
  margin-right: 16px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.control__text:hover,
.control__input + .control__text:hover::before {
  opacity: 0.6;
}

/* стили для активного чекбокса (при нажатии на него) */
.control__text:active,
.control__input:active + .control__text::before {
  opacity: 0.3;
}
/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.control__input:focus:not(:checked) + .control__text::before {
  outline: 2px solid #af4fff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.control__input:checked + .control__text::before {
  border: 2px solid #000;
  background-color: #f0f0f0;
  background-image: url("../image/icons/check.svg");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.control__input:disabled + .control__text::before {
  opacity: 0.1;
}

.control-radio .control__input + .control__text::before {
  border-radius: 50%;
}

.control-radio .control__input:checked + .control__text::before {
  border: 2px solid #000;
  background-color: #f0f0f0;
  background-image: url("../image/icons/radio.svg");
}

.catalog__sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px 40px;
}

.catalog__sort-title {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
  margin: 0;
}

.catalog__sort-select {
  width: 160px;
  height: 30px;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  background-color: #f0f0f0;
  border: 0;
}

.catalog__sort-select:hover {
  opacity: 0.6;
}

.catalog__sort-select:active {
  opacity: 0.3;
}

.catalog__sort-select:focus {
  outline: 2px solid #af4fff;
}

.catalog__sort-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort-button {
  width: 30px;
  height: 30px;
}

.sort-button--sopt-down {
  transform: rotate(180deg);
}

.catalog__content {
  background-color: #fff;
  padding: 0 40px 78px;
}

.catalog-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 44px 40px;
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  padding-top: 70px;
  list-style-type: none;
}

.card {
  position: relative;
  display: grid;
  grid-template-columns: auto min-content;
  width: 360px;
}

.card__image {
  grid-column: 1 / -1;
  width: 360px;
  height: 380px;
  display: block;
  margin-bottom: 32px;
}

.card__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
}

.card__price {
  color: #444;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  justify-self: end;
}

.card__button {
  display: none;
  position: absolute;
  top: 170px;
  left: 50%;
  transform: translateX(-50%);
  color: inherit;
  text-decoration: none;
  text-align: center;
}

.card__image:hover,
.card__image:active {
  border: 1px solid #444;
  background-color: rgba(240, 240, 240, 0.5);
  cursor: pointer;
}

.card:hover .card__button,
.card:active .card__button {
  display: flex;
}

.catalog__button {
  display: block;
  margin-bottom: 44px;
  width: 100%;
  padding: 18px 39px;
}

.catalog__button:hover {
  color: #fff;
  background-color: #000;
}

.button-catalog {
  font-family: Raleway;
  font-size: 16px;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 3.2px;
  text-transform: uppercase;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f0f0;
}

.pagination__button {
  padding: 25px;
}

.pagination__button:hover {
  background-color: #dcdcdc;
}

.pagination__button:active {
  background-color: #dcdcdc;
  opacity: 0.3;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-list__item {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-list__link {
  color: #444;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  opacity: 0.3;
  text-decoration: none;
}

.pagination-list__link:hover {
  opacity: 1;
}

.pagination-list__link:active {
  opacity: 0.1;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(240, 240, 240, 0.9);
}

.modal-overlay.hidden {
  display: none;
}

.modal {
  position: relative;
  z-index: 10;
  margin: auto;
  width: 920px;
  padding: 72px 80px;
  background-color: #ffffff;
  border: 10px solid #000;
  box-shadow: 0px 10px 0px 0px rgba(0, 0, 0, 0.1);
  display: none;
}

.modal-open {
  display: block;
}

.modal__close-button {
  position: absolute;
  top: 72px;
  right: 80px;
  width: 26px;
  height: 26px;
  background-image: url("../image/icons/close.svg");
}

.modal__close-button:hover {
  opacity: 0.6;
}

.modal__close-button:active {
  opacity: 0.3;
}

.modal__close-button:focus {
  outline: 1px solid #af4fff;
}

.modal__title {
  font-family: Raleway;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
  margin: 0;
  margin-bottom: 42px;
}

.modal__form {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  gap: 40px;
}

.field-group {
  width: 360px;
}

.field-group--product {
  width: 540px;
}

.field-group--quantity {
  position: relative;
  width: 180px;
  justify-self: end;
}

.field-group__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.36px;
  margin: 0;
  margin-bottom: 14px;
}

.field-group__input {
  font: inherit;
  color: inherit;
  width: 100%;
  padding: 20px;
  background-color: #f0f0f0;
  border: 0;
}

.product-quantity {
  display: flex;
  align-items: center;
  width: 180px;
  background-color: #f0f0f0;
}

.product-quantity__button {
  width: 60px;
  height: 60px;
  background-position: center center;
  background-repeat: no-repeat;
}

.product-quantity__button--min {
  background-image: url("../image/icons/minus.svg");
}

.product-quantity__input {
  width: 60px;
  padding: 20px;
  font: inherit;
  color: inherit;
  appearance: textfield;
  border: 0;
  background-color: transparent;
}

.product-quantity__input:focus {
  outline: 0;
}

.product-quantity__input::-webkit-outer-spin-button,
.product-quantity__button::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.product-quantity__button--max {
  background-image: url("../image/icons/plus.svg");
}

.modal__button {
  width: 200px;
}

.tooltip {
  margin: 0;
}

.tooltip-btn {
  position: absolute;
  top: -2px;
  right: 33px;
  width: 26px;
  height: 26px;
  background-color: #ffe17f;
  border-radius: 50%;
  background-image: url("../image/icons/delivery-sign.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.tooltip-text {
  position: absolute;
  background-color: #000;
  color: #fff;
  width: 200px;
  padding: 19px;
  top: 30px;
  left: 0;
  z-index: 1;
  display: none;
}

.tooltip-btn:hover + .tooltip-text {
  display: block;
}
